*{
	margin: 0;
	padding: 0;
}

h1{
	color: white;
	position: absolute;
	top: 3%;
	left: 28%;
font-family: cursive;
letter-spacing: 4px;
}

#container{
	height: 100vh;
	width: 100vw;
	background: #000;
	display: flex;
	align-items: center;
	justify-content: center;
}

#sliderBox{
	height: 55vh;
	width: 50vw;
	/* border: 1px solid white; */
	box-shadow: 1px 0px 5px 2px #fff;
	/* background-color: rgba(236, 79, 79, 0.1); */

}

p{
	color: #fff;
	font-size: 25px;
text-align: center;
letter-spacing: 5px;
font-family: 'Courier New', Courier, monospace;
position: relative;
bottom: 30px;
background-color: rgba(0, 0, 0, 0.5);
}

.slideImg img{
	height: 55vh;
	width: 50vw;
	margin: 0;

}

.arrow{
	cursor: pointer;
	position: absolute;
	top: 45%;
	color: #000;
	background-color: rgba(255, 255, 255, .3);
	font: 30px bold;
	width: 60px;
	height: 50px;
	text-align: center;
	border-radius: 50%;
padding-top: 10px;
}

.arrow:active{
background: gray;
color: #fff;
}

.next{
	right: 15%;
}

.prev{
	left: 15%;
}
