body {
  /* border: 2px solid white; */
  background: url(../images/nightbg.jpg) repeat-x;


}

#mainContainer {
  margin: 160px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  /* border: 2px solid white; */
  width: 600px;
  height: 250px;
}

/* time css */

.time {
  /* border: 2px solid; */
  text-align: center;
  font-size: 90px;
  margin: 55px 0 0 0;
  color: ghostwhite;
  text-shadow: 0 0 10px #d5bfca;
}

#period {
  font-size: 30px;
}


/* calender css */

#calender {
  /* border: 2px solid; */
  font-size: 25px;
  position: relative;
  left: 41%;
  bottom: 2%;
  color: ghostwhite;
  text-shadow: 0 0 10px #d5bfca;
}

/* glowing text css */

/* .glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 0px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 10px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
  } */






/* glowing bordr css */
.box {
  position: relative;
  height: 400px;
  width: 380px;
  display: block;
  background: linear-gradient(0deg, black, #444444);
}



.glowing::before {
  content: '';
  position: absolute;
  left: -5px;
  top: -5px;
  background: linear-gradient(45deg, #acaaac, #f7f6f5d9, #00ff66, #13ff13, #ff3300de, #5aabde, #000, #fff);
  background-size: 400%;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  z-index: -1;
  animation: glower 20s linear infinite;
  border-radius: 3px;
}

@keyframes glower {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}