* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    min-height: 100vh;
}

a {
    text-decoration: none;
}

#nav1 {
    width: 100%;
    height: 30px;
    background: #000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    flex-wrap: wrap;
}

#nav1 a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-right: 1px solid;
}

#nav2 {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
}

#nav2 .logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px;
}

#nav2 .logo span {
    color: #3498db;
}


#nav2 .icon i {
    font-size: 20px;
    padding: 10px;
    margin: 0 15px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
    color: #3498db;
}



#nav2 .icon i:hover {
    background: #3498db;
    color: #fff;
}

#nav3 {
    width: 90%;
    height: 50px;
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: auto;
}

#nav3 a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .4s;
}

#nav3 a:first-child {
    background: #3498db;
    color: #fff;

}

#nav3 a:hover {
    background: #3498db;
    color: #fff;
}

#feature {
    width: 100%;
    height: 100%;
}

.f-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}


.f-container .f-left {
    flex-basis: 40%;
    position: relative;
}

.f-container .f-right {
    flex-basis: 40%;
}

.f-container .f-left img {
    width: 100%;
}

.f-container .f-left .text {
    position: absolute;
    top: 30px;
    right: 30px;
}

.text p {
    color: #3498db;
    font-family: 25px;
    margin-bottom: 5px;

}

.f-container .f-right img {
    width: 60%;
}


#shoes {
    position: relative;
}

#shoes .text {
    position: absolute;
    right: 30px;
    top: 30px;
}



.fr-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.fr-container .right {
    position: relative;
}

.fr-container .right .text {
    position: absolute;
    right: 30px;
    bottom: -10%;
}


@media (max-width:768px) {
    #nav2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-bottom: 15px;
    }

    #nav2 .logo {
        font-size: 2.5rem;
    }

    #nav2 .icon i {
        font-size: 15px;
    }

    #nav3 {
        height: 40px;
        padding: 8px 10px;
    }

    #nav3 a {
        font-size: 12px;
    }

    .f-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid; */
    }

    .f-container .f-left img {
        width: 80%;
    }
}



@media (max-width:426px) {

    #nav1 {
        padding: 0;
        font-size: 12px;
    }


    #nav3 {
        height: 25px;
    }

    #nav3 a {
        font-size: 8px;
        padding: 5px 10px;
    }
}

@media (max-width:320px) {

    #nav1 {
        font-size: 5px;
        height: 10px;
    }

    
    #nav1 a {
        padding: 5px;

    }
    #nav2 {
        height: 50px;
        margin-bottom: 10px;
    }

    #nav2 .logo {
        font-size: .7rem;

    }

    #nav2 .icon i {
        font-size: 8px;
        padding: 4px;
        margin: 0px;
    }


    #nav3 {
        width: 90%;
        height: 20px;
        display: flex;
        align-items: center;

    }

    .f-container .f-left img {
        width: 40%;
    }

    .f-container .f-right img{
        width: 40%;
    }

    .text {
        font-size: 10px;
    }

    #nav3 a {
        font-size: 5px;
        padding: 2px 5px;
    }

    .fr-container .right .text {
        position: absolute;
        right: 30px;
        bottom: -50%;
    }
    


}